<mat-toolbar color="warn" class="mat-elevation-z6">
    <span><mat-icon>book</mat-icon></span>
    <span>Mais livros</span>

    <div class="espaco"></div>
    <a mat-button routerLink='livros'>Livros</a>
    <a mat-button routerLink='regislivro'>Registrar um Livro</a>
    <a routerLink='login' *ngIf="auth.user$ | async as user; else login">
      <img src={{user.photoURL}} alt="Imagem de perfil" class="profilePhoto">
    </a>
    <ng-template #login>
      <a mat-raised-button id="login" routerLink='login'>Login</a>
    </ng-template>
</mat-toolbar>
