<div class="center">
    <div *ngIf="auth.user$ | async as user; else login">
      <!-- {{ user | json }} -->
      <p class="txt_field">{{user.displayName}}</p>
      <p class="txt_field">{{user.email}}</p>
      <img src={{user.photoURL}} alt="Imagem de perfil" class="img_login">
      <br><br>
      <button class="button" (click)="auth.signOut()">Sair</button>
      <div class="familia">
        Você esta conectado pelo Google!
      </div>
    </div>

    <ng-template #login>
      <button class="button" (click)="auth.googleSignIn()">Entre com sua conta Google</button>
      <div class="familia"><br><br>
        Conecte-se e navegue Livremente pela nossa Galeria!
      </div>
    </ng-template>
</div>
