<div class="center">
    <h1>Cadastrar um Livro</h1>
    <form method="post">
      <div class="txt_field">
        <input type="text" required>
        <span></span>
        <label>Nome do Livro</label>
      </div>
      <div class="txt_field">
        <input type="text" required>
        <span></span>
        <label>Nome do Autor</label>
      </div>
      <div class="arquivo">
        <label>Arquivo</label>
        <span></span>
        <input type="file" required>
      </div>
      <input type="submit" value="Registrar">
      <div class="familia">
        Lembre-se de enviar o arquivo em PDF!
      </div>
    </form>
  </div>

