/*.example-card {*/
/*  max-width: 400px;*/
/*  width: 400px;*/
/*  margin-bottom: 8px;*/
/*  background-color: aqua;*/

/*}*/
.Acontainer {
  margin-top: 15px;
  flex: 1;
  display: inline-block;

}
.card {
  margin: 30px;

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 200px;
  height: 350px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.container {
  padding: 2px 16px;
}

#deleteButton{
  border-width: 0;
  padding: 5px;
  margin-left: 10px;
  background-color: firebrick;
  border-radius: 5px;
  color: white;
}

#editButton{
  border-width: 0;
  padding: 5px;
  margin-left: 10px;
  background-color: gold;
  border-radius: 5px;
  color: white;
}

#authorText{

  margin: 0;

}

.buttons{
  display: inline-block;
}
