<div class="center">
    <h1>Criar Conta</h1>
    <form method="post">
      <div class="txt_field">
        <input type="text" required>
        <span></span>
        <label>Nome de Usuario</label>
      </div>
      <div class="txt_field">
        <input type="password" required>
        <span></span>
        <label>Senha</label>
      </div>
      <div class="txt_field">
        <input type="text" required>
        <span></span>
        <label>E-mail</label>
      </div>
      <input type="submit" value="Registrar">
      <div class="familia">
        Bem-Vindo a +Livros!
      </div>
    </form>
  </div>

